<!doctype html>
<html lang="<%= lang %>">

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width,initial-scale=1">
	<title>
		<%= title %>
	</title>
	<link rel="stylesheet" href="/static/styles.css">
</head>

<body>
	<div class="cards">
		<div class="card"></div>
		<div class="card card--glass">
			<div class="card__content">
				<h1 class="card__title">
					<%= heading %>
				</h1>
				<div class="card__logo">
					<%= statusCode %>
				</div>
				<p class="card__description">
					<%= description %>
				</p>
				<% if (details) { %>
					<p class="card__description">
						<%= detailsLabel %>
							<%= details %>
					</p>
					<% } %>
						<p class="card__url">
							<%= help %>
						</p>
			</div>
		</div>
	</div>
</body>

</html>
